# https://adventofcode.com/<%= @year %>/day/<%= @day_of_month.lstrip('0') %>

module Year<%= @year %>
  module Day<%= @day_of_month%>
    class Part1
      def self.run(input : File)
      end
    end

    class Part2
      def self.run(input : File)
      end
    end
  end
end
